
{include file="public/header" /}
</head>
<body data-type="login">

  <div class="am-g myapp-login">
	<div class="myapp-login-logo-block  tpl-login-max">
		<div class="myapp-login-logo-text">
			<div class="myapp-login-logo-text">
				黑科 <span>Login</span> Online <i class="am-icon-skyatlas"></i>
				
			</div>
		</div>

		<div class="login-font">
			<i>Welcome</i> HKO <span> Online</span>
		</div>
		<div class="am-u-sm-10 login-am-center">
			<form class="am-form" action="{:url('login/loginsuccess')}" method="post">
				<fieldset>
					<div class="am-form-group">
						<input type="text" name="number" class="username" id="doc-ipt-email-1" placeholder="输入账号">
					</div>
					<div class="am-form-group">
						<input type="password" name="password" class="password" id="doc-ipt-pwd-1" placeholder="设置个密码吧">
					</div>
					<!--<p><button type="submit" class="am-btn am-btn-default">登录</button></p>-->
					<p><button
							id="login"
							type="button"
							class="am-btn am-btn-default"
							data-am-modal="{target: '#my-alert'}">
						登录
					</button>
					</p>

					<div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
						<div class="am-modal-dialog">
							<div class="am-modal-hd">黑科Online-Login</div>
							<div class="am-modal-bd" id="login_content">

							</div>
							<div class="am-modal-footer">
								<span class="am-modal-btn" id="ok">确定</span>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>

  {include file="public/footer" /}
  <script>
		$('#login').click(function () {
			var username = $('.username').val();
			var password = $('.password').val();
			var url ="{:url('login/loginsuccess')}";
			var data = {
			  	'name' :username,
				'password':password,

			};
			$.post(url,data,function (res) {
			    if (res.errorCode==1){
			        $('#login_content').html('您好，登陆成功');
					window.location = res.data;
				} else{
                    $('#login_content').html('账号或密码不正确');
				}
            })

        })
  </script>
</body>

</html>
