
{include file="public/header" /}
</head>
<body data-type="generalComponents">

{include file="public/nav_header"/}

    <div class="tpl-page-container tpl-page-header-fixed">
        {include file="public/nav_left"/}

        <div class="tpl-content-wrapper">
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 视频列表
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                <i class="am-icon-search"></i>
                                <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
                        </div>
                    </div>

                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="tpl-table-images">
                            {volist name = "circleList" id = "vo" }
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                                <div class="tpl-table-images-content">
                                    <div class="tpl-table-images-content-i-time">{$vo.time}</div>
                                    <a href="javascript:;" class="tpl-table-images-content-i">
                                        <div class="tpl-table-images-content-i-info">
                                            <span class="ico">
                                    <img src= "{$userData[$key]['icon']}" alt="">{$userData[$key]['name']}
                                 </span>

                                        </div>
                                        <span class="tpl-table-images-content-i-shadow"></span>
                                        <img src="{$vo.videocoverurl}"  style="height:155px;" alt="">
                                    </a>
                                    <div class="tpl-table-images-content-block">
                                        <div class="tpl-i-font">
                                            {$vo.text}
                                        </div>
                                        <div class="tpl-i-more">
                                            <ul>
                                                <li><span class="am-icon-qq am-text-warning">{$vo.likecount}+</span></li>
                                                <li><span class="am-icon-weixin am-text-success"> {$vo.commentcount}+</span></li>
                                                <li><span class="am-icon-github font-green"> {$vo.viewcount}+</span></li>
                                            </ul>
                                        </div>
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs tpl-edit-content-btn">
                                                <button type="button" class="am-btn am-btn-default am-btn-loading"><span class="am-icon-edit"></span>  <a href="{:url('Circle/circleVideoEdit',['circleId'=>$vo.id])}">编辑</a></button>
                                                {if condition = "$vo.status eq 0"}
                                                <button type="button"  value="{$vo.id}" class=" release am-btn am-btn-default am-btn-warning"><span class="am-icon-eye"></span> 发布</button>
                                                {else /}
                                                <button type="button"  value="{$vo.id}" class=" under am-btn am-btn-default am-btn-success"><span class="am-icon-eye-slash"></span> 下线</button>
                                                {/if}
                                                <button type="button"  value="{$vo.id}" class=" del am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {/volist}

                            <div class="am-u-lg-12">
                                <div class="am-cf">
                                    <div class="am-fr">
                                        {$circleList->render()}
                                    </div>
                                </div>
                                <hr>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="tpl-alert"></div>
            </div>

        </div>

    </div>

<div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
    <div class="am-modal-dialog">
        <div class="am-modal-hd" id="alert_title">黑科Online_后台系统</div>
        <div class="am-modal-bd" id="alert">

        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">确定</span>
        </div>
    </div>
</div>

{include file="public/footer" /}
<script type="text/javascript">
    //发布
    $('.release').click(function () {
        var id = this.value;
        var url = "{:url('Circle/release')}";
        var data ={
            'id' : id,
            'status':1
        };
        status_change(url,data);
    });

    //下线
    $('.under').click(function () {
        var id = this.value;
        var url = "{:url('Circle/under')}";
        var data ={
            'id' : id,
            'status':0
        };
        status_change(url,data);
    });

    //删除
    $('.del').click(function () {
        var id = this.value;
        var url = "{:url('Circle/del')}";
        var data ={
            'id' : id,
            'status':-1
        };
        status_change(url,data);
    })
</script>
</body>

</html>