{include file="public/header" /}
<link rel="stylesheet" href="__STATIC__/amazeUi/assets/css/preview.css">
<link rel="stylesheet" href="__STATIC__/amazeUi/assets/css/oss.css">
<link rel="stylesheet" href="__STATIC__/amazeUi/assets/css/rome.css">
<link rel="stylesheet" href="__STATIC__/amazeUi/assets/css/example.css">
</head>
<body data-type="generalComponents">

{include file="public/nav_header"/}

<div class="tpl-page-container tpl-page-header-fixed">
    {include file="public/nav_left"/}

    <div class="tpl-content-wrapper">
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 新增文章
                </div>
                <div class="tpl-portlet-input tpl-fz-ml">
                    <div class="portlet-input input-small input-inline">
                        <div class="input-icon right">
                            <i class="am-icon-search"></i>
                            <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
                    </div>
                </div>


            </div>

            <div class="tpl-block">

                <div class="am-g">
                    <div class="tpl-form-body tpl-form-line">
                        <form class="am-form tpl-form-line-form">
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">标题 <span class="tpl-form-line-small-title">Title</span></label>
                                <div class="am-u-sm-9">
                                    <input type="text" class="tpl-form-input" id="article-title" placeholder="请输入标题文字">
                                    <small>请填写标题文字10-20字左右。</small>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="user-email" class="am-u-sm-3 am-form-label">发布时间 <span class="tpl-form-line-small-title">Time</span></label>
                                <div class="am-u-sm-9">
                                    <input  class="am-form-field tpl-form-no-bg"  id='input' value="" />
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="user-phone" class="am-u-sm-3 am-form-label">分类 <span class="tpl-form-line-small-title">Type</span></label>
                                <div class="am-u-sm-9">
                                    <select data-am-selected="{searchBox: 1}">
                                        <option value="a">咨询</option>
                                        <option value="b">话题</option>
                                        <option value="o">赛事</option>
                                    </select>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-weibo" class="am-u-sm-3 am-form-label">作者 <span class="tpl-form-line-small-title">Author</span></label>
                                <div class="am-u-sm-9">
                                    <input type="text" id="user-weibo" placeholder="请输入您的名字或者化名">
                                </div>
                            </div>


                            <div class="am-form-group">
                                <label for="user-weibo" class="am-u-sm-3 am-form-label">封面图 <span class="tpl-form-line-small-title">Images</span></label>
                                <div class="am-u-sm-9">
                                    <div id="ossfile2"  >你的浏览器不支持flash,Silverlight或者HTML5！</div>
                                    <div id="container2">
                                        <a id="selectfiles2" href="javascript:void(0);" class='btn' style="background-color: #dd514c;">选择文件</a>
                                        <a id="postfiles2" href="javascript:void(0);" class='btn'style="background-color: #dd514c;" >开始上传</a>
                                        <span style="font-size: 16px; color: #888; ">如需更改封面图，选择文件再次上传即可</span>
                                    </div>
                                    <div id="headImgD">
                                    <img id="headImg" src="__STATIC__/amazeUi/assets/img/headImg.gif" style="width:264px;height:143px;margin: 10px 0 0 0 ;border-style:solid;
    border-width:1px; border-color: #beb4b4;">
                                    </div>
                                </div>
                            </div>



                            <div class="am-form-group">
                                <label for="user-weibo" class="am-u-sm-3 am-form-label">文章中加入图片 <span class="tpl-form-line-small-title">Images</span></label>
                                <div class="am-u-sm-9">
                                    <div id="ossfile"  >你的浏览器不支持flash,Silverlight或者HTML5！</div>
                                    <div id="container">
                                        <a id="selectfiles" href="javascript:void(0);" class='btn'>选择文件</a>
                                        <a id="postfiles" href="javascript:void(0);" class='btn'>开始上传</a>
                                    </div>
                                </div>
                            </div>


                            <div class="am-form-group">
                                <label for="user-intro" class="am-u-sm-3 am-form-label"></label>
                                <div class="am-u-sm-9">
                                    <div id="editor">
                                        <p>请编辑您的文章内容</p>
                                    </div>
                                </div>

                            </div>

                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <button type="button" id="preview" class="am-btn am-btn-danger tpl-btn-bg-color-danger ">预览</button>
                                    <button type="button" id="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

{include file="public/footer" /}
<script type="text/javascript" src="__STATIC__/amazeUi/assets/js/wangEditor.min.js"></script>
<script type="text/javascript" src="__STATIC__/amazeUi/assets/js/plupload.full.min.js"></script>
<script type="text/javascript" src="__STATIC__/amazeUi/assets/js/upload.js"></script>
<script type="text/javascript" src="__STATIC__/amazeUi/assets/js/rome.js"></script>

<script type="text/javascript">
    rome(input);
    var E = window.wangEditor;
    var editor = new E('#editor');
    // 自定义菜单配置
    editor.customConfig.menus = [
        'undo',  // 撤销
        'redo'  // 重复
    ];
    document.getElementById('submit').addEventListener('click', function () {
        //文章标题
        var article_title =  $('#article-title').val();
        //发布时间
        var data = $('#input').val();
        //分类
        var kindof = $('.am-checked').attr("data-index",1).children().text();
        //作者
        var author = $('#user-weibo').val();
        //封面图
        var headImgSrc =  $('#headImg')[0].src;
        // 读取没处理的内容
        var undealContent = editor.txt.html();
        //处理后的文章详情
        var dealContent =  undealContent.replace(/<br>/g,"").replace(/<p>/g,"").replace(/<p style[^>]*>/g,"").replace(/<\/p>/g,"%&%").replace(/<span style[^>]*>/g,"").replace(/<\/span>/g,"").replace(/<img src="/g,'').replace(/" style[^>]*">/g,'%&%').replace(/&nbsp;/g,' ');


        if (article_title ==''){
            alert('文章标题不能为空');
            return false;
        }

        if (data ==''){
            alert('时间不能为空');
            return false;
        }

        if (author ==''){
            alert('作者不能为空');
            return false;
        }

        //提交文章
            var url = "{:url('Article/articleSub')}";
            var artdata = {
                content :dealContent,
                title:article_title,
                time:data,
                headimage:headImgSrc,
                kindof:kindof,
            };
            $.post(url,artdata,function (res) {
                if (res.data==1){
                    alert(res.mes);
                } else{
                    alert(res.mes)
                }
            })

    }, false);

    editor.create();

    $('#preview').click(function(){
        $(this).parent().parent().before("<div class=\"wx_phone_preview\">\n" +
            "        <span id=\"close\" class=\"btn btn_default btn_phone_preview_closed jsPhoneViewClose\">关闭</span>\n" +
            "        <div class=\"wx_phone jsPhoneViewMain\">\n" +
            "            <div class=\"wx_phone_hd\">\n" +
            "    黑科Online文章预览\n" +
            "</div>\n" +
            "<div class=\"wx_phone_bd wx_phone_preview_card_wrp\"> \n" +
            "\n" +
            "    \n" +
            "<div class=\"xcx_pre\"> \n"+ $('#headImgD').html()+
            "<div class=\"user-name\" style='font-size:9.35px;\n" +
            "color:#999;\n" +
            "margin-top: 10px\n'> \n"+$('#user-weibo').val()+"          发布于          "+$('#input').val()+
            "</div>\n" +
            "<div class=\"article-tit\" style='text-align:center;\n" +
            "font-weight:700;\n" +
            "letter-spacing:1px;\n" +
            "color:#4b556c;\n" +
            "font-size:17.2px;\n" +
            "margin-top:5px;\n" +
            "margin-bottom:10px;\n'> \n"+
            $('#article-title').val()+
            "</div>\n" +
            "\n" +editor.txt.html()+
            "</div>\n" +
            "</div>\n" +
            " \n" +
            "        </div>\n" +
            "        <!--jsPhoneViewMain-->\n" +
            "        \n" +
            "        \n" +
            "    </div>");
        $(this).parent().parent().before("<div class='preview-mask'></div>");
        $('#close').click(function(){
            $(".wx_phone_preview").remove();
            $(".preview-mask").remove();
        });
    });


</script>
</body>

</html>