{include file="public/header" /}
<body data-type="generalComponents">
{include file="public/nav_header"/}
<div class="tpl-page-container tpl-page-header-fixed">
    {include file="public/nav_left"/}
    {volist name='detail' id='vo'}
    <div class="tpl-content-wrapper">
        <a style="color: #838b8b" href="{:url('news/edit',['id'=>$vo.id])}"><div class="am-icon-edit"></div></a>
        <a class="am-align-right" style="color: #838b8b" onClick="javascript:history.back(-1);"><div class="am-icon-close"></div></a>
        <div class="tpl-portlet-components am-text-center">
            <div class="am-article-title">
                <div class="caption font-green bold">
                    <span>详情内容</span>
                </div>
            </div>
            <div class="tpl-block">
                <div class="article-source">
                    <span class="source"> 用户：{$vo.user_id}&emsp; </span>
                    <span class="date"> 时间：{$vo.time} </span>
                </div>

                <div class="article-content">
                    {$vo.content}
                </div>

            </div>
            <div class="tpl-alert"></div>
        </div>
    </div>
    {/volist}
</div>
{include file="public/footer" /}

</body>

</html>