{include file="public/header" /}
</head>
<style>
    /*分页*/
    .pagination {margin-left: 500px;}
    .pagination li {display: inline-block;margin-right: -1px;padding: 5px;border: 1px solid #e2e2e2;min-width: 20px;text-align: center;}
    .pagination li.active {background: #009688;color: #fff;border: 1px solid #009688;}
    .pagination li a {display: block;text-align: center;}
</style>
<body data-type="generalComponents">
{include file="public/nav_header"/}
<div class="tpl-page-container tpl-page-header-fixed">
    {include file="public/nav_left"/}

    <div class="tpl-content-wrapper">
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-list"></span> 列表
                </div>
                <div class="tpl-portlet-input tpl-fz-ml">
                    <div class="portlet-input input-small input-inline">
                        <div class="input-icon right">
                            <i class="am-icon-search"></i>
                            <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
                    </div>
                </div>


            </div>
            <div class="tpl-block">
                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-6">
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button type="button" class="am-btn am-btn-default am-btn-danger" onclick="show()"><span class="am-icon-trash-o"></span> 多选删除</button>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-form-group">
                            <select data-am-selected="{btnSize: 'sm'}">
                                <option value="option1">所有类别</option>
                                <option value="option2">IT业界</option>
                                <option value="option3">数码产品</option>
                                <option value="option3">笔记本电脑</option>
                                <option value="option3">平板电脑</option>
                                <option value="option3">只能手机</option>
                                <option value="option3">超极本</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-input-group am-input-group-sm">
                            <input type="text" class="am-form-field">
                            <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button"></button>
          </span>
                        </div>
                    </div>
                </div>
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <form class="am-form">
                            <table class="am-table am-table-striped am-table-hover table-main am-table-bordered">
                                <thead>
                                <tr>
                                    <th style="text-align: center" class="table-check"><input type="checkbox" disabled="disabled" class="tpl-table-fz-check"></th>
                                    <th style="text-align: center" class="table-id">ID</th>
                                    <th style="text-align: center" class="table-id">UID</th>
                                    <th style="text-align: center" class="table-id">NID</th>
                                    <th style="text-align: center" class="table-date am-hide-sm-only">修改日期</th>
                                    <th style="text-align: center" class="table-date am-hide-sm-only">状态</th>
                                    <th style="text-align: center" class="table-set">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="list" id="vo"}
                                <tr>
                                    <td style="text-align: center"><input type="checkbox" name="check" value="{$vo.id}"></td>
                                    <td style="text-align: center"><a href="{:url('news/commentDetails',['id'=>$vo.id])}" title="点击查看详情">{$vo.id}</a></td>
                                    <td style="text-align: center">{$vo.user_id}</td>
                                    <td style="text-align: center">{$vo.news_id}</td>
                                    <td style="text-align: center" class="am-hide-sm-only">{$vo.time}</td>
                                    <td class="am-selected-status am-text-middle" style="text-align: center;"><a href="{:url('news/status',['id'=>$vo.id, 'status'=>$vo.status==1?0:1])}" title="点击修改状态">{$vo.status|status}</td>
                                    <td>
                                        <div class="am-btn-toolbar am-vertical-align-middle">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> <a href="{:url('news/edit',['id'=>$vo.id])}">编辑</a></button>
                                                <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-trash-o"></span> <a href="{:url('news/delete',['id'=>$vo.id])}">删除</a></button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                                {$list->render()}
                            <hr>
                        </form>
                    </div>

                </div>
            </div>
            <div class="tpl-alert"></div>
        </div>
    </div>

</div>
{include file="public/footer" /}
<script>
    function show(){
        var obj = document.getElementsByName("check");
        var check_val = [];
        for(var k in obj){
            if(obj[k].checked)
                check_val.push(obj[k].value);
        }
        $.ajax({
            url:"{:url('news/somedelete')}",
            data:{box:check_val},
            method:'POST',
            //dataType:'application/json',默认为application/json两个都不用写
            //contentType:'application/json',
            success:function (res) {
                //alert(res.msg);
               layer.alert(res.msg,{
                   title:'删除',
                   button:['确定'],
                   btnAlign:'c',
                   closeBtn:0
               })
            }
        });

    }
</script>
</body>

</html>