<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.0/jquery.js"></script>
<!--<script src="http://www.jq22.com/jquery/jquery-2.1.1.js"></script>-->
<!--<script src="__STATIC__/layer/layer.js"></script>-->
<script src="https://cdn.bootcss.com/layer/2.2/layer.js"></script>
<!--<script src="__STATIC__/amazeUi/assets/js/amazeui.min.js"></script>-->
<script src="https://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>

<script src="__STATIC__/amazeUi/assets/js/app.js"></script>
<script src="__STATIC__/amazeUi/assets/js/common_config.js"></script>
<script src="__STATIC__/amazeUi/assets/js/common.js"></script>

<script type="text/javascript">

    //处理导航点击展开方法
    $(document).ready(function(){
        var tabFlag='{$Tab}';
        if(tabFlag){
            var span = $("span[Tab='{$Tab}']");
            span.parent().addClass("active");
            span.parent().parent().parent().css("display","block");
        }

    });



</script>