<?php use think\Session;?>
<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <a href="javascript:;" class="tpl-logo">
            <img src="__STATIC__/amazeUi/assets/img/logo.png" alt="">
        </a>
    </div>
    <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

    </div>

    <button type="button" class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
            {in name='$Request.session.isvip' value="1"}
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle id="allnotice">
                <a class="am-dropdown-toggle tpl-header-list-link">
                    <span class="am-icon-exclamation-triangle"></span> 全员通知 <span class="am-badge tpl-badge-danger am-round"></span></span>
                </a>

            </li>
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                    <span class="am-icon-bell-o"></span> 非法评论 <span class="am-badge tpl-badge-danger am-round" id="notLegalCommentsSize"></span></span>
                </a>
                <ul id="notLeagalComments" class="am-dropdown-content tpl-dropdown-content">



                </ul>
            </li>
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                    <span class="am-icon-comment-o"></span> 新动态 <span class="am-badge tpl-badge-success am-round" id="newArticlesSize"></span></span>
                </a>
                <ul class="am-dropdown-content tpl-dropdown-content" style="width:500px" id="newArticles">

                </ul>
            </li>

            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>

            {/in}
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <ul class="am-dropdown-content">

                </ul>
            </li>
            <li><a href="{:url('login/logout')}"><span class="am-icon-power-off"></span> 退出</a></li>
        </ul>

    </div>

</header>

<div class="am-modal am-modal-prompt" tabindex="-1" id="notice">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">全员通知</div>
        <div class="am-modal-bd">
            谨慎操作，本通知会对该产品全体用户进行通知
            <input type="text" class="noticeContent am-modal-prompt-input">
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>提交</span>
        </div>
    </div>
</div>